// neutral
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-gray: #222222;
$color-bg-light: rgb(196 196 196 / 0.75);
$color-light-gray: #CDCDCD;
$color-placeholder: #656565;

// colors
$color-primary: #FF7020;
$color-title: #1A2E35;

// feedback colors
$color-feedback-error: #d06b6b;


// breakpoints
$breakpoint-mobile-max: 768px;
$breakpoint-tablet-max: 1025.98px;
$breakpoint-desktop-max: 1920px;